<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="anthemnxt" type="AnthemNxt.Core.AnthemSection"/>
  </configSections>
  <anthemnxt includePageScripts="true"/>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <trace enabled="true"/>
    <pages>
      <controls>
        <add tagPrefix="anthem" assembly="AnthemNxt.Controls" namespace="AnthemNxt.Controls"/>
      </controls>
    </pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>
